:root{
    --primario:#61A530;
    --secudario:#F2C800;
    --terciario:#D5141B;
    --blanco:#FFFFFF;
    --negro:#000000;
    --fondo:#e2e9f7;
}
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/** iniciomos diseño  **/
.header_side-nav{
    width: 390px;
    height: 100vh;
    position: fixed;
    background-color: var(--primario);
    top: 0;
    left: 0;
    padding: 20px 30px;
}
.header_side-nav__logo{
    display: block;
    margin-bottom: 130px;
}
.header_side-nav__logo-img{
    width: 300px;
}
.header_nav-links{
    position: relative;
}
.header_nav-links li{
    padding: 10px 0;
}
.header_nav-links li a{
    color: var(--blanco);
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}
.header_nav-links li a i{
    font-size: 22px;
    margin-right: 20px;

}
.btn.btn-one.reset-button i{
    font-size: 22px;
    margin-right: 20px;
}
.header_nav-links_active{
    background-color: var(--blanco);
    width: 90%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.5%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0,4);
    display: none;
    transition: top 0.5s;
}
.header_nav-links li:hover a{
    color: var(--terciario);
    transition: 0.3s;
}
.header_nav-links li:hover ~ .header_nav-links_active{
    display: block;
}
.header_nav-links li:nth-child(1):hover ~ .header_nav-links_active{
    top: 2.6%;
}
.header_nav-links li:nth-child(2):hover ~ .header_nav-links_active{
    top: 19.2%;
}
.header_nav-links li:nth-child(3):hover ~ .header_nav-links_active{
    top: 35.8%;
}
.header_nav-links li:nth-child(4):hover ~ .header_nav-links_active{
    top: 52.4%;
}
.header_nav-links li:nth-child(5):hover ~ .header_nav-links_active{
    top: 69%;
}
.header_nav-links li:nth-child(6):hover ~ .header_nav-links_active{
    top: 85.9%;
}

/** boton **/
.box-1 { 
    background-color: #FF6766; 
    border-radius: 30px;
    width: 200px;
    position: absolute;
    top: 580px;
}
.btn {
    text-align: center;
    width: auto;
    cursor: pointer;
    border-radius: 30px;
}
.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    border-radius: 30px;
}
.btn-one span {
    transition: all 0.3s;
}
.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
    border-radius: 30px;
}
.btn-one:hover span {
    letter-spacing: 2px;
}
.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1);
    border-radius: 30px; 
}
.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
    border-radius: 30px;
}
.btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
    border-radius: 30px;
}
